
#ion-img {
    margin-top: 50px;
    position: relative;
    align-items: center;
    max-height: fit-content;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#container {
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
}

#texto-1{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #046EF6;
    margin-left: 15px;
    font-size: 25px;
    text-align: left;

}


ion-icon{
    margin-right: 5px;
}

ion-button{
    margin-top: 15px;
}

#social{
    margin-top: 15px;
}