<ion-header [translucent]="true">
  <h1>Bienvenido!</h1>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-body">
    <div class="search">
      <ion-searchbar showCancelButton="focus"></ion-searchbar>
    </div>
    <div class="cards">
      <ion-card>
        <ion-card-header>
          <img src="assets/plumber.jpg" alt="">
          <ion-card-subtitle>Plomeros</ion-card-subtitle>
          <ion-card-title>Mario Brous</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Especialistas en fontanería, desde hace más de 10 años. 
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="assets/carpintero.jpg" alt="">
        <ion-card-header>
          <ion-card-subtitle>Carpintero</ion-card-subtitle>
          <ion-card-title>Carpintería José</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Diseñamos y creamos muebles a la medida para nuestros clientes.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </div>

    <div id="container">
      <ion-button (click) = "logout()">Cerrar Sesión</ion-button>
    </div>
  </div>
</ion-content>


