*{
  background-color: #f6f6f6;
}

.ion-header{
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #046EF6;
  margin-left: 15px;
  margin-top: 15px;
  font-size: 25px;
  text-align: center;
}

.container-body {
  margin: 0 auto;
  max-width: 400px;
}

.search {
  margin-left: auto;
  margin-right: auto;
  width: 350px; 
}
ion-searchbar { 
  margin-top: 15px;
  border-radius: 2em/10em;
}

ion-card{
  height: 500px;
  border-radius: 1.2rem;
  box-shadow: inset;
  border-color: rgba(62,52,233,1);
}

ion-header{
  margin-top: -10px;
  height: 100px;
}

ion-card-header img{
  border-radius: 1.2rem;
  width: max-content;
  margin: 0rem;
}

ion-card-subtitle{
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: medium;
  color: #1962e7;
} 

ion-card-title{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #0e15dd;
}

ion-icon{
  float: right;
  color: #0e15dd;
  font-size: 1.2rem;
}

ion-card-content{
  font-family: 'Roboto', sans-serif;
  font-weight: serif;
  font-size: 14px;
}