<ion-header [translucent]="true">
  <h1>Bienvenido!</h1>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-body">
    <div class="search">
      <ion-searchbar showCancelButton="focus" placeholder="Que quieres buscar hoy..."></ion-searchbar>
    </div>
    <div class="cards">
      <ion-card>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/user.png">
          </ion-avatar>
          <ion-label>
            <h3>Oscar Hernandez</h3>
            <p>Carpinteria</p>
          </ion-label>
        </ion-item>
      
        <img src="../../assets/plumber.jpg" alt="ion">
        <ion-card-header>
          <ion-card-title>Emmanuel</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
        </ion-card-content>
      
        <ion-footer>
          <ion-row>
            <ion-col center text-center>
              <button>
                <ion-icon name="thumbs-up"></ion-icon>
                <div>1.5k Likes</div>
              </button>
            </ion-col>
            <ion-col center text-center>
              <button>
                <ion-icon name="text"></ion-icon>
                <div>4 Comments</div>
              </button>
            </ion-col>
            <ion-col center text-center>
              <button>
                <ion-icon name="time"></ion-icon>
                <div>11h ago</div>
              </button>
            </ion-col>
          </ion-row>
        </ion-footer>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/user2.jpg">
          </ion-avatar>
          <ion-label>
            <h3>John Doe</h3>
            <p>Dec 10, 2019</p>
          </ion-label>
        </ion-item>
      
        <img src="../../assets/carpintero.jpg" alt="ion">
        <ion-card-header>
          <ion-card-title>Hotel Panama Garden</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
        </ion-card-content>
      
        <ion-footer>
          <ion-row>
            <ion-col center text-center>
              <button>
                <ion-icon name="thumbs-up"></ion-icon>
                <div>1.5k Likes</div>
              </button>
            </ion-col>
            <ion-col center text-center>
              <button>
                <ion-icon name="text"></ion-icon>
                <div>4 Comments</div>
              </button>
            </ion-col>
            <ion-col center text-center>
              <button>
                <ion-icon name="time"></ion-icon>
                <div>11h ago</div>
              </button>
            </ion-col>
          </ion-row>
        </ion-footer>
      </ion-card>
    </div>

    <div id="container">
      <ion-button (click) = "logout()">Cerrar Sesión</ion-button>
    </div>
  </div>
</ion-content>


